<configuration debug="true">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DBAppender" class="ppl.momofin.momofinbackend.appender.DBAppender">
            <url>${DB_URL}</url>
            <username>${DB_USER}</username>
            <password>${DB_PASSWORD}</password>
    </appender>

    <logger name="ppl.momofin.momofinbackend.controller.AuthController" level="INFO" additivity="false">
        <appender-ref ref="DBAppender" />
    </logger>

</configuration>